IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = 'BookStoreApp')
BEGIN
    CREATE DATABASE BookStoreApp;
END
GO

USE BookStoreApp;
GO
/****** Object:  Table [dbo].[ChiTietHDB]    Script Date: 29/04/2025 00:33:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHDB](
	[MaHDB] [varchar](5) NULL,
	[MaSanPham] [varchar](4) NULL,
	[SoLuong] [int] NULL,
	[GiamGia] [int] NULL,
	[ThanhTien] [decimal](10, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGia]    Script Date: 29/04/2025 00:33:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGia](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaDG]  AS ('DG'+right('000'+CONVERT([varchar],[Id]),(3))) PERSISTED,
	[MaKH] [varchar](5) NULL,
	[MaSach] [varchar](5) NULL,
	[ThoiGianDG] [datetime] NULL,
	[NhanXet] [nvarchar](max) NULL,
	[Rating] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 29/04/2025 00:33:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaGH]  AS ('GH'+right('00'+CONVERT([varchar],[Id]),(2))) PERSISTED NOT NULL,
	[MaNguoiDung] [varchar](4) NULL,
	[TongSanPham] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioSanPham]    Script Date: 29/04/2025 00:33:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioSanPham](
	[MaGH] [varchar](4) NULL,
	[MaSanPham] [varchar](4) NULL,
	[SoLuong] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonBan]    Script Date: 29/04/2025 00:33:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonBan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaHDB]  AS ('HDB'+right('00'+CONVERT([varchar],[Id]),(2))) PERSISTED NOT NULL,
	[MaNV] [varchar](4) NULL,
	[MaNguoiDung] [varchar](4) NULL,
	[Ngayban] [datetime] NULL,
	[TongTien] [decimal](10, 2) NULL,
	[KhuyenMai] [decimal](10, 2) NULL,
	[SoTienPhaiTra] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHDB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 29/04/2025 00:33:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaKM]  AS ('KM'+right('00'+CONVERT([varchar],[Id]),(2))) PERSISTED NOT NULL,
	[TenKM] [nvarchar](100) NULL,
	[TrangThai] [nvarchar](20) NULL,
	[KM] [decimal](10, 2) NULL,
	[SoTienKM] [decimal](10, 2) NULL,
	[GiaToiThieu] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMaiMM]    Script Date: 29/04/2025 00:33:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMaiMM](
	[MaKM] [varchar](20) NOT NULL,
	[TenKM] [varchar](100) NULL,
	[TrangThai] [nvarchar](20) NULL,
	[KM] [decimal](10, 2) NULL,
	[SoTienKMTD] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KMNguoiDung]    Script Date: 29/04/2025 00:33:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KMNguoiDung](
	[MaNguoiDung] [varchar](4) NULL,
	[MaKM] [varchar](20) NULL,
	[TGBatDau] [datetime] NULL,
	[TGKetThuc] [datetime] NULL,
	[SoLuong] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 29/04/2025 00:33:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung]  AS ('ND'+right('00'+CONVERT([varchar],[Id]),(2))) PERSISTED NOT NULL,
	[TenNguoiDung] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [varchar](10) NULL,
	[NgaySinh] [datetime] NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[MatKhau] [nvarchar](20) NULL,
	[Anh] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 29/04/2025 00:33:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaNV]  AS ('NV'+right('00'+CONVERT([varchar],[Id]),(2))) PERSISTED NOT NULL,
	[TenNhanVien] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [varchar](10) NULL,
	[NgaySinh] [datetime] NULL,
	[NgayVaoLam] [date] NULL,
	[MatKhau] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 29/04/2025 00:33:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaSanPham]  AS ('SP'+right('00'+CONVERT([varchar],[Id]),(2))) PERSISTED NOT NULL,
	[TenSanPham] [nvarchar](100) NOT NULL,
	[TonKho] [int] NULL,
	[PhanLoai] [nvarchar](50) NULL,
	[HangSX] [nvarchar](50) NULL,
	[GiaCa] [decimal](18, 2) NOT NULL,
	[Anh] [nvarchar](255) NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhamKM]    Script Date: 29/04/2025 00:33:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamKM](
	[MaSanPham] [varchar](4) NULL,
	[MaKM] [varchar](4) NULL,
	[TGBatDau] [datetime] NULL,
	[TGKetThuc] [datetime] NULL,
	[SoLuongKM] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietHDB] ([MaHDB], [MaSanPham], [SoLuong], [GiamGia], [ThanhTien]) VALUES (N'HDB01', N'SP01', 2, 10, CAST(28000.00 AS Decimal(10, 2)))
INSERT [dbo].[ChiTietHDB] ([MaHDB], [MaSanPham], [SoLuong], [GiamGia], [ThanhTien]) VALUES (N'HDB01', N'SP02', 3, 5, CAST(28500.00 AS Decimal(10, 2)))
INSERT [dbo].[ChiTietHDB] ([MaHDB], [MaSanPham], [SoLuong], [GiamGia], [ThanhTien]) VALUES (N'HDB02', N'SP03', 1, 0, CAST(12000.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[GioHang] ON 

INSERT [dbo].[GioHang] ([ID], [MaNguoiDung], [TongSanPham]) VALUES (1, N'ND01', 2)
INSERT [dbo].[GioHang] ([ID], [MaNguoiDung], [TongSanPham]) VALUES (2, N'ND02', 4)
INSERT [dbo].[GioHang] ([ID], [MaNguoiDung], [TongSanPham]) VALUES (3, N'ND03', 7)
SET IDENTITY_INSERT [dbo].[GioHang] OFF
GO
INSERT [dbo].[GioSanPham] ([MaGH], [MaSanPham], [SoLuong]) VALUES (N'GH01', N'SP01', 2)
INSERT [dbo].[GioSanPham] ([MaGH], [MaSanPham], [SoLuong]) VALUES (N'GH02', N'SP01', 1)
INSERT [dbo].[GioSanPham] ([MaGH], [MaSanPham], [SoLuong]) VALUES (N'GH02', N'SP02', 3)
GO
SET IDENTITY_INSERT [dbo].[HoaDonBan] ON 

INSERT [dbo].[HoaDonBan] ([ID], [MaNV], [MaNguoiDung], [Ngayban], [TongTien], [KhuyenMai], [SoTienPhaiTra]) VALUES (1, N'NV01', N'ND01', CAST(N'2024-11-08T00:00:00.000' AS DateTime), CAST(450000.00 AS Decimal(10, 2)), CAST(50000.00 AS Decimal(10, 2)), CAST(400000.00 AS Decimal(10, 2)))
INSERT [dbo].[HoaDonBan] ([ID], [MaNV], [MaNguoiDung], [Ngayban], [TongTien], [KhuyenMai], [SoTienPhaiTra]) VALUES (2, N'NV01', N'ND02', CAST(N'2024-11-08T00:00:00.000' AS DateTime), CAST(350000.00 AS Decimal(10, 2)), NULL, CAST(350000.00 AS Decimal(10, 2)))
INSERT [dbo].[HoaDonBan] ([ID], [MaNV], [MaNguoiDung], [Ngayban], [TongTien], [KhuyenMai], [SoTienPhaiTra]) VALUES (3, N'NV02', N'ND03', CAST(N'2024-11-08T00:00:00.000' AS DateTime), CAST(500000.00 AS Decimal(10, 2)), NULL, CAST(500000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[HoaDonBan] OFF
GO
SET IDENTITY_INSERT [dbo].[KhuyenMai] ON 

INSERT [dbo].[KhuyenMai] ([ID], [TenKM], [TrangThai], [KM], [SoTienKM], [GiaToiThieu]) VALUES (1, N'Giảm Giá Tết', N'Active', CAST(10.00 AS Decimal(10, 2)), CAST(5000.00 AS Decimal(10, 2)), CAST(30000.00 AS Decimal(10, 2)))
INSERT [dbo].[KhuyenMai] ([ID], [TenKM], [TrangThai], [KM], [SoTienKM], [GiaToiThieu]) VALUES (2, N'Khuyến Mãi Sinh Nhật', N'Active', CAST(15.00 AS Decimal(10, 2)), CAST(10000.00 AS Decimal(10, 2)), CAST(20000.00 AS Decimal(10, 2)))
INSERT [dbo].[KhuyenMai] ([ID], [TenKM], [TrangThai], [KM], [SoTienKM], [GiaToiThieu]) VALUES (3, N'Giảm Giá Mùa Hè', N'Inactive', CAST(20.00 AS Decimal(10, 2)), CAST(20000.00 AS Decimal(10, 2)), CAST(40000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[KhuyenMai] OFF
GO
INSERT [dbo].[KhuyenMaiMM] ([MaKM], [TenKM], [TrangThai], [KM], [SoTienKMTD]) VALUES (N'KM001', N'Gi?m giá d?u tu?n', N'Active', CAST(10.00 AS Decimal(10, 2)), CAST(50000.00 AS Decimal(10, 2)))
INSERT [dbo].[KhuyenMaiMM] ([MaKM], [TenKM], [TrangThai], [KM], [SoTienKMTD]) VALUES (N'KM002', N'Uu dãi cu?i tu?n', N'Active', CAST(15.00 AS Decimal(10, 2)), CAST(70000.00 AS Decimal(10, 2)))
INSERT [dbo].[KhuyenMaiMM] ([MaKM], [TenKM], [TrangThai], [KM], [SoTienKMTD]) VALUES (N'KM003', N'Khuy?n mãi mùa hè', N'Inactive', CAST(20.00 AS Decimal(10, 2)), CAST(100000.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[KMNguoiDung] ([MaNguoiDung], [MaKM], [TGBatDau], [TGKetThuc], [SoLuong]) VALUES (N'ND01', N'KM001', CAST(N'2024-11-01T00:00:00.000' AS DateTime), CAST(N'2024-11-30T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[KMNguoiDung] ([MaNguoiDung], [MaKM], [TGBatDau], [TGKetThuc], [SoLuong]) VALUES (N'ND02', N'KM002', CAST(N'2024-11-10T00:00:00.000' AS DateTime), CAST(N'2024-12-10T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[KMNguoiDung] ([MaNguoiDung], [MaKM], [TGBatDau], [TGKetThuc], [SoLuong]) VALUES (N'ND03', N'KM003', CAST(N'2024-06-01T00:00:00.000' AS DateTime), CAST(N'2024-08-31T00:00:00.000' AS DateTime), 5)
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([ID], [TenNguoiDung], [DiaChi], [SDT], [NgaySinh], [GioiTinh], [GhiChu], [MatKhau], [Anh]) VALUES (1, N'Nguyễn Văn An', N'Hà Nội', N'0123456789', CAST(N'2000-11-19T00:00:00.000' AS DateTime), N'Nam', NULL, N'ND01aa', N'')
INSERT [dbo].[NguoiDung] ([ID], [TenNguoiDung], [DiaChi], [SDT], [NgaySinh], [GioiTinh], [GhiChu], [MatKhau], [Anh]) VALUES (2, N'Trần Thị B', N'TP. Hồ Chí Minh', N'0987654321', CAST(N'1992-02-02T00:00:00.000' AS DateTime), N'Nữ', NULL, N'ND02', N'G03.jpg')
INSERT [dbo].[NguoiDung] ([ID], [TenNguoiDung], [DiaChi], [SDT], [NgaySinh], [GioiTinh], [GhiChu], [MatKhau], [Anh]) VALUES (3, N'Lê Minh C', N'Hải Phòng', N'0912345678', CAST(N'1985-03-15T00:00:00.000' AS DateTime), N'Nam', NULL, N'ND03', NULL)
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([ID], [TenNhanVien], [GioiTinh], [DiaChi], [SDT], [NgaySinh], [NgayVaoLam], [MatKhau]) VALUES (1, N'Nguyễn Văn A', N'Nam', N'Hà Nội', N'0901234567', CAST(N'1990-01-01T00:00:00.000' AS DateTime), CAST(N'2020-05-01' AS Date), N'password123')
INSERT [dbo].[NhanVien] ([ID], [TenNhanVien], [GioiTinh], [DiaChi], [SDT], [NgaySinh], [NgayVaoLam], [MatKhau]) VALUES (2, N'Trần Thị B', N'Nữ', N'Hồ Chí Minh', N'0907654321', CAST(N'1992-02-15T00:00:00.000' AS DateTime), CAST(N'2021-06-10' AS Date), N'password456')
INSERT [dbo].[NhanVien] ([ID], [TenNhanVien], [GioiTinh], [DiaChi], [SDT], [NgaySinh], [NgayVaoLam], [MatKhau]) VALUES (3, N'Phạm Văn C', N'Nam', N'Đà Nẵng', N'0912345678', CAST(N'1988-08-20T00:00:00.000' AS DateTime), CAST(N'2019-07-12' AS Date), N'password789')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([ID], [TenSanPham], [TonKho], [PhanLoai], [HangSX], [GiaCa], [Anh], [MoTa]) VALUES (1, N'Bánh Mì', 100, N'Đồ Ăn', N'UTC', CAST(15000.00 AS Decimal(18, 2)), N'banhmi.jpg', N'Bánh mì thơm ngon, nhân đầy đặn với hương vị đặc trưng, dễ ăn.')
INSERT [dbo].[SanPham] ([ID], [TenSanPham], [TonKho], [PhanLoai], [HangSX], [GiaCa], [Anh], [MoTa]) VALUES (2, N'Snack Khoai Tây', 200, N'Snack', N'Oishi', CAST(10000.00 AS Decimal(18, 2)), N'snack.jpg', N'Snack khoai tây giòn tan, hương vị tự nhiên của Oishi.')
INSERT [dbo].[SanPham] ([ID], [TenSanPham], [TonKho], [PhanLoai], [HangSX], [GiaCa], [Anh], [MoTa]) VALUES (3, N'Nước Ngọt', 150, N'Đồ Uống', N'Coca-Cola', CAST(12000.00 AS Decimal(18, 2)), N'nuocngot.jpg', N'Nước ngọt giải khát, với hương vị Coca-Cola quen thuộc.')
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
INSERT [dbo].[SanPhamKM] ([MaSanPham], [MaKM], [TGBatDau], [TGKetThuc], [SoLuongKM]) VALUES (N'SP01', N'KM01', CAST(N'2024-12-01T00:00:00.000' AS DateTime), CAST(N'2024-12-31T00:00:00.000' AS DateTime), 100)
INSERT [dbo].[SanPhamKM] ([MaSanPham], [MaKM], [TGBatDau], [TGKetThuc], [SoLuongKM]) VALUES (N'SP02', N'KM02', CAST(N'2024-11-01T00:00:00.000' AS DateTime), CAST(N'2024-11-15T00:00:00.000' AS DateTime), 150)
INSERT [dbo].[SanPhamKM] ([MaSanPham], [MaKM], [TGBatDau], [TGKetThuc], [SoLuongKM]) VALUES (N'SP03', N'KM03', CAST(N'2024-10-01T00:00:00.000' AS DateTime), CAST(N'2024-10-15T00:00:00.000' AS DateTime), 120)
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [TonKho]
GO
ALTER TABLE [dbo].[ChiTietHDB]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHDB.MaHDB] FOREIGN KEY([MaHDB])
REFERENCES [dbo].[HoaDonBan] ([MaHDB])
GO
ALTER TABLE [dbo].[ChiTietHDB] CHECK CONSTRAINT [FK_ChiTietHDB.MaHDB]
GO
ALTER TABLE [dbo].[ChiTietHDB]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHDB.MaSanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiTietHDB] CHECK CONSTRAINT [FK_ChiTietHDB.MaSanPham]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang.MaNguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang.MaNguoiDung]
GO
ALTER TABLE [dbo].[GioSanPham]  WITH CHECK ADD  CONSTRAINT [FK_GioSanPham.MaGH] FOREIGN KEY([MaGH])
REFERENCES [dbo].[GioHang] ([MaGH])
GO
ALTER TABLE [dbo].[GioSanPham] CHECK CONSTRAINT [FK_GioSanPham.MaGH]
GO
ALTER TABLE [dbo].[GioSanPham]  WITH CHECK ADD  CONSTRAINT [FK_GioSanPham.MaSanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[GioSanPham] CHECK CONSTRAINT [FK_GioSanPham.MaSanPham]
GO
ALTER TABLE [dbo].[HoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonBan.MaNguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[HoaDonBan] CHECK CONSTRAINT [FK_HoaDonBan.MaNguoiDung]
GO
ALTER TABLE [dbo].[HoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonBan.MaNV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDonBan] CHECK CONSTRAINT [FK_HoaDonBan.MaNV]
GO
ALTER TABLE [dbo].[KMNguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_KMNguoiDung.MaKM] FOREIGN KEY([MaKM])
REFERENCES [dbo].[KhuyenMaiMM] ([MaKM])
GO
ALTER TABLE [dbo].[KMNguoiDung] CHECK CONSTRAINT [FK_KMNguoiDung.MaKM]
GO
ALTER TABLE [dbo].[KMNguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_KMNguoiDung.MaNguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[KMNguoiDung] CHECK CONSTRAINT [FK_KMNguoiDung.MaNguoiDung]
GO
ALTER TABLE [dbo].[SanPhamKM]  WITH CHECK ADD  CONSTRAINT [FK_SanPhamKM.MaKM] FOREIGN KEY([MaKM])
REFERENCES [dbo].[KhuyenMai] ([MaKM])
GO
ALTER TABLE [dbo].[SanPhamKM] CHECK CONSTRAINT [FK_SanPhamKM.MaKM]
GO
ALTER TABLE [dbo].[SanPhamKM]  WITH CHECK ADD  CONSTRAINT [FK_SanPhamKM.MaSanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[SanPhamKM] CHECK CONSTRAINT [FK_SanPhamKM.MaSanPham]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
